<section class="all">

  <div class="left">
    <div class="titre">
      <h1>uniform</h1>
      <p id="sstitre">L'inscription devient plus simple</p>
      <hr>
    </div>

    <table class="list">
      <tr>
        <td><%= image_tag ("file.png") %></td>
        <td>Un seul formulaire pour toutes les ecoles</td>
      </tr>

      <tr>
        <td><%= image_tag ("school_hat.png") %></td>
        <td>Gerez facilement vos candidatures</td>
      </tr>

      <tr>
        <td><%= image_tag ("cloud.png") %></td>
        <td>Stockez vos donees scolaires</td>
      </tr>
    </table>
  </div>

  <div class="right">
    <div class="form">
      <p>Remplir tous les champs</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
      <div class="field">
        <input type="text" name="email" placeholder="Adresse Email"><br/>
      </div>

      <div class="field">
        <input type="password" name="password" placeholder="Mot de passe">
      </div>

      <div class="field">
        <input type="password" name="password_confirmation" placeholder="Confirmation">
      </div>
<br>
      <div class="actions">
        <%= f.submit "Creez votre compte", :class => "btn btn-primary" %>
      </div>
<% end %>
    </div>
      <p id="deja">Déjà inscrit ?</p>
      <%= button_to 'Connectez-vous', new_user_session_path, {method: 'get', class: "button"} %>
  </div>

</section>
